@import "tailwindcss";

@font-face {
  font-family: 'Array-Regular';
  src: url('/fonts/Array-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Array-Bold';
  src: url('/fonts/Array-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'DotGothic-Regular';
  src: url('/fonts/DotGothic16-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-array: 'Array-Regular', system-ui, sans-serif;
  --font-array-bold: 'Array-Bold', system-ui, sans-serif;
  --font-dot-gothic: 'DotGothic-Regular', system-ui;
}

.congrats-box::after {
  box-shadow: -0.04rem -0.04rem #fff;
}

.congrats-box::before {
  box-shadow: 0.04rem -0.04rem #fff;
}

.congrats-box-title {
  position: relative;
  font-family: var(--font-array);
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
}

.congrats-box-title::after {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1rem;
  width: 1rem;
  left: 3.25rem;
  top: 0;
  border-top-left-radius: 0.5rem;
  box-shadow: -0.375rem -0.375rem #fff;
}

.congrats-box-title::before {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1rem;
  width: 1rem;
  right: 3.25rem;
  top: 0;
  border-top-right-radius: 0.5rem;
  box-shadow: 0.375rem -0.375rem #fff;
}

.congrats-box-content::after {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1rem;
  width: 1rem;
  left: 0;
  top: 0;
  border-top-left-radius: 0.5rem;
  box-shadow: -0.375rem -0.375rem #fff;
}

.congrats-box-content::before {
  content: '';
  position: absolute;
  background-color: #000;
  height: 1rem;
  width: 1rem;
  right: 0;
  top: 0;
  border-top-right-radius: 0.5rem;
  box-shadow: 0.375rem -0.375rem #fff;
}